<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
    <script src="http://knockoutjs.com/downloads/knockout-3.4.1.debug.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/moment-timezone.min.js"></script>

    <script type="text/javascript" src="js/colorZones.js"></script>
    <script type="text/javascript" src="js/colorPicker.js"></script>
    <script type="text/javascript" src="js/renderer.js"></script>
    <script type="text/javascript" src="js/timeZoneService.js"></script>
    <script type="text/javascript" src="js/latLng.js"></script>
    <script type="text/javascript" src="js/timeZone.js"></script>
    <script type="text/javascript" src="js/polygon.js"></script>
</head>

<body>

  <script type="text/javascript">
    $(document).ready(function () {
      var renderer = new Renderer();
      var timeZoneService = new TimeZoneService(renderer.width());
      var colorPicker = new ColorPicker();
      var model = new ColorZones(renderer, timeZoneService, colorPicker);
      // Figure out why I need this override here...
      ko.options.useOnlyNativeEvents = true;
      ko.applyBindings(model);
    });
  </script>

  <div id="main">
    <div id="content" class="mx-auto d-block" data-bind="style: {width: width}">
      <div id="canvasContainer" class="mt-2 mb-2">
        <canvas id="theCanvas" data-bind="attr: {width: width, height: height}"></canvas>
      </div>

      <div class="mb-2">
        <div class="row">
          <div class="col">
            <div class="float-right">
              <label for="opacitySlider">Opacity <span data-bind="text: opacity"></span>%</label>
              <input id="opacitySlider" type="range" min="0" max="100" data-bind="value: opacity"/>
            </div>
          </div>
          <div class="col">
            <div class="form-check no-select">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" data-bind="checked: showTimes">
                Show all times
              </label>
            </div>
          </div>
        </div>
      </div>

      <div id="colorControl" class="text-uppercase" style="display: none;" data-bind="with: colorPicker, visible: true"
      role="tablist" aria-multiselectable="true">
        <div class="row">
          <span class="col">
            <a data-toggle="collapse" class="btn btn-block" data-bind="css: hoursColor"
            data-parent="#colorControl" href="#hoursContainer" aria-expanded="true" aria-controls="hoursContainer">Hours</a>

            <div id="hoursContainer" class="collapse" role="tabpanel">
              <div class="card-block mt-2">
                <button class="btn btn-danger btn-block mb-2" data-bind="click: update.bind($data, 'hours', 'red')">RED</button>
                <button class="btn btn-success btn-block mb-2" data-bind="click: update.bind($data, 'hours', 'green')">GREEN</button>
                <button class="btn btn-primary btn-block mb-2" data-bind="click: update.bind($data, 'hours', 'blue')">BLUE</button>
              </div>
            </div>
          </span>

          <span class="col">
            <a data-toggle="collapse" class="btn btn-block" data-bind="css: minutesColor"
            data-parent="#colorControl" href="#minutesContainer" aria-expanded="true" aria-controls="minutesContainer">Minutes</a>

            <div id="minutesContainer" class="collapse" role="tabpanel">
              <div class="card-block mt-2">
                <button class="btn btn-danger btn-block mb-2" data-bind="click: update.bind($data, 'minutes', 'red')">RED</button>
                <button class="btn btn-success btn-block mb-2" data-bind="click: update.bind($data, 'minutes', 'green')">GREEN</button>
                <button class="btn btn-primary btn-block mb-2" data-bind="click: update.bind($data, 'minutes', 'blue')">BLUE</button>
              </div>
            </div>
          </span>

          <span class="col">
            <a data-toggle="collapse" class="btn btn-block" data-bind="css: secondsColor"
            data-parent="#colorControl" href="#secondsContainer" aria-expanded="true" aria-controls="secondsContainer">Seconds</a>

            <div id="secondsContainer" class="collapse" role="tabpanel">
              <div class="card-block mt-2">
                <button class="btn btn-danger btn-block mb-2" data-bind="click: update.bind($data, 'seconds', 'red')">RED</button>
                <button class="btn btn-success btn-block mb-2" data-bind="click: update.bind($data, 'seconds', 'green')">GREEN</button>
                <button class="btn btn-primary btn-block mb-2" data-bind="click: update.bind($data, 'seconds', 'blue')">BLUE</button>
              </div>
            </div>
          </span>
        </div>
      </div>
  </div>
</body>

</html>