html {
  height: 100%;
}
body {
  min-height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  position: absolute;
}
#timeContainer {
  z-index: 1;
}
#colorControl {
  z-index: 2;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.time {
  color: white;
}
.btn {
  cursor: pointer;
}
.btn:focus {
  color: white;
}
.btn-time {
  width: 100%;
}