@import '../scss/colors';

#colorZones {
  margin: 0 auto;
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.opacity-control {
  display: flex;
  align-items: center;
}
