<main>
  <header>
    <h1>Color Zones</h1>
  </header>

  <div id="colorZones">
    <renderer [(fixedWidth)]="width" [(fixedHeight)]="height" (render)="doRender($event)"
      (mouseOver)="onMouseOver($event)"></renderer>

    <div class="controls-container">
      <div class="opacity-control" id="opacityControl">
        <label for="opacitySlider">Opacity {{opacity}}%</label>
        <input id="opacitySlider" type="range" min="0" max="100" [(ngModel)]="opacity"
          (ngModelChange)="updateOpacity($event)" />
      </div>
      <div>
        <label id="showTimesControl">
          <input type="checkbox" [(ngModel)]="showTimes">
          <span></span>
          <span>Show all times</span>
        </label>
        <label id="showColorsControl">
          <input type="checkbox" [(ngModel)]="colorAllZones">
          <span></span>
          <span>Color all zones</span>
        </label>
      </div>
    </div>

    <color-picker></color-picker>
  </div>

  <footer>
    <span><a href="https://github.com/mcnedward/color-zones"><i class="fab fa-github"></i></a></span>
    <span><a href="https://www.linkedin.com/in/mcnedward"><i class="fab fa-linkedin"></i></a></span>
    <label><a href="https://edwardmcnealy.com">&copy; Edward McNealy {{copyrightDate}}</a></label>
  </footer>
</main>